@import url('https://fonts.googleapis.com/css?family=Open+Sans');
body { 
  display: grid;
  grid-template-areas: 
    "header header header"
    "nav article ads"
    "footer footer footer";
  grid-template-rows: 80px 1fr 70px;  
  grid-template-columns: 20% 1fr 15%;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  height: 100vh;
  margin: 0;
  font-family: 'Open Sans';
  }  
header, footer, article, nav, div {
  padding: 1.2em;
  background: white;
  font-family: 'Open Sans';
  }
#pageHeader {
  grid-area: header;
  background-color: gray;
  }
#pageFooter {
  grid-area: footer;
  background-color: gray;
  }
#mainArticle { 
  grid-area: article;      
  }
#mainNav { 
  grid-area: nav; 
  }
#siteAds { 
  grid-area: ads; 
  } 
/* Stack the layout on small devices/viewports. */
@media all and (max-width: 575px) {
  body { 
    grid-template-areas: 
      "header"
      "article"
      "ads"
      "nav"
      "footer";
    grid-template-rows: 80px 1fr 70px 1fr 70px;  
    grid-template-columns: 1fr;
 }
}
/* <body>
  <header id="pageHeader">Header</header>
  <article id="mainArticle">Article</article>
  <nav id="mainNav">Nav</nav>
  <div id="siteAds">Ads</div>
  <footer id="pageFooter">Footer</footer>
</body> */

.button {
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    cursor: pointer;
    border-radius: 50px;
    transition: all0.3s ease Os;
}

.button:hover {
    background-color: rgba(0, 87, 169, 0.8)
}

.container-x {
    width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

a {
    font-family: "Open Sans";
    font-weight: bold;
    font-style: none;
}

.textbox[type=text][type=text] {
    border: none;
    border-bottom: 2px solid red;
  }

