<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {% block content %}

    <div class="container-x">
        {% if user.is_authenticated %}
        <div>
            <a href="{% url 'new_url' %}" class="button-1">Generate New Url</a>
        </div>
        {% else %}
        <div>
            <a href="{% url 'new_url' %}" class="button">Generate New Url</a>
        </div>
        {% endif %}

    </div>
    {% endblock content %}
</body>

</html>