<!DOCTYPE html>
{% extends 'base.html' %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {% block content %}

    <div>
        <h1>Hello {{ user.username }} Check out Your converted urls.</h1>
    </div>
    {% for url in my_url %}
    <p>Shortened Token: {{ url.short_url }}</p>
    <p>Main Url:
        <a href="{{ url.long_url }}">{{ url.long_url }} </a>
    </p>
    <p>Slug: {{ url.slug }}</p>
    <p>``````````````````````````````````````````````````````````````</p>
    {% endfor %}
    {% endblock content %}
</body>

</html>