<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {% block content %}
    <div class="container">
        <form action="" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-outline-success">Create</button>
        </form>
    </div>
    <div class="container">
        <p class="lead">
            {{  shortened_url  }}
        </p>
    </div>
    {% endblock content %}
</body>

</html>