<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Url Information</title>
</head>

<body>
    {% block content %}
    <div>
        <H1>Hello there this the url Information Page:</H1>
        <form action="" method="POST">
            {% csrf_token %}
            {{form}}
            <button type="submit">Submit</button>
        </form>
        <p> Domain: {{ext_domain}}</p>
        <p> Suffix: {{ext_suffix}}</p>
        <p> Sub_Domain: {{ext_sub_domain}}</p>
        <p> Registered_Domain: {{ext_registered_domain}}</p>
    </div>

    {% endblock content %}
</body>

</html>