<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>

<body>
    {% block content %}
    <h1>Hello there, {{ user.username }}</h1>
    {% for items in current_user  %}
    <li class='lead'>Name: {{ items.name }}</li>
    <li class='lead'>Age: {{ items.age }}</li>
    <li class='lead'>Country: {{ items.country }}</li>
    {% endfor %}
    {% endblock content %}
</body>


</html>